*{
    margin: 0;
    padding: 0;

}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;


}

img{
    max-width: 100%;

}

body{
    background-color:#C9D2D2;
    height: 100vh;
}




.logo{
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

/*editando barra nav*/

.navbar-brand{
    font-size: 1.8rem;
}
.nav-item a{
    font-size: 1.4rem;
}

header ul li a:hover{
    background-color: #fff;
    padding: 5px;
    transition:.5s;
    border-radius: 20px;
}

/*editando index para varios dispositivos*/
/*query mobile*/
.caja-padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media (min-width: 1024px){
    .caja-padre{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        
    }
}

.imagen-hijo{
    width: 20rem;
}

.caja-hijo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.caja-hijo__titulo{
    font-size: 1.8rem;
}

.caja-hijo__parrafo{
    font-size: 1.5rem;
}

.caja-botones{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}

.boton{
    
    width:13rem ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    text-decoration: none;
}

.boton:hover{
    background-color:#fff;
    border: 2px solid  #000;
    color: #000;
}

/*carrusel*/

#carouselExampleAutoplaying{
    width: 400px;
    max-width: 100%;
}

.carousel-inner img{

    border-radius: 50%;
}

/*seccion 1*/

#seccion1 p{
    font-size: 1.5rem;
    
}


/*footer*/

span{

    font-size: 20px;
    margin-left: 20px;
    
}
.fb{
    background-color: rgb(40, 40, 181);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.in{
    background-color: rgba(255,0,179);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.yt{
    background-color: rgb(243, 8, 8);
    padding: 8px;
    border-radius: 50px;
    color: white;
}


/*tablets 768px*/


@media (min-width: 768px) {
    

    .imagen-hijo{
        width: 35rem;
    }
    .caja-hijo__titulo{
        font-size: 1.6rem;
    }
    
    .caja-hijo__parrafo{
        font-size: 1.4rem;
    }

    footer p{
        font-size: 1.6rem;
    }

    
}

/*editando otras paginas*/
/*Editando pagina nuestras marcas*/


.imagen-barra img{
    width: 100%;
    height: 200px;
    opacity: 0.4;
}

.titulo-marcas{
    font-size: 2rem;
}

.caja-marcas img{
    width: 30rem;
    height: 20rem;
}

.caja-marcas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}


@media (min-width: 768px){
    .caja-marcas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1024px){
    .caja-marcas{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

/*Editando pagina alimentos*/

.seccion-alimentos p, li{
    font-size: 1.4rem;

}

.caja-alimentos-padre{
    display: flex;
    
    
    gap: 3rem;

}

/*Editando pagina otros*/

#seccion-otros h3{
    font-size: 1.8rem;
    font-family: Fredoka One;

}

#seccion-otros p, li{

    font-size: 1.4rem;
    

}




#seccion-otros{
    display: flex;
    flex-direction: column;
}

.seccion-otros__imagen{
    width: 70%;
    
    
    border-radius: 25px;


    
}

.cards-otros-productos img{
    width: 178.4px;
    height: 178.4px;
}

.cards-otros-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

@media (min-width: 768px){
    .cards-otros-productos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    
    }
}

@media (min-width: 960px){
    .cards-otros-productos{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    
    }
}

/*EDITANDO pagina cuidados necesarios*/


.imagen-cuidados{
    border: 2px solid #000;
    border-radius: 20px;
    width: 50rem;
    
}

.accordion-button{
    font-size: 1.5rem;
}

.caja-imagen-cuidados{
    display: flex;
    gap: 5rem;
}










