*{
    margin: 0;
    padding: 0;

}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;


}

img{
    max-width: 100%;

}

#body-principal{
    background-color:#C9D2D2;
    height: 100vh;
}

header{
    display: flex;
    justify-content:space-around;
    margin-top: 3rem;
    
}

.logo{
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.navegacion{
    display: flex;
    gap: 3rem;
}

.navegacion li{
    list-style: none;
}

.navegacion li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
}

.navegacion li a:hover{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.caja-padre{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.imagen-hijo{
    width: 50rem;
}

.caja-hijo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.caja-hijo__titulo{
    font-size: 4rem;
}

.caja-hijo__parrafo{
    font-size: 1.3rem;
}

.caja-botones{
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.boton{
    width: 15rem;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}

.boton:hover{
    background-color:#fff;
    color: #000;
}


/*footer*/

span{

    font-size: 15px;
    margin-left: 20px;
}
/*.fb{
    background-color: rgb(40, 40, 181);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.in{
    background-color: rgba(255,0,179);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.yt{
    background-color: rgb(243, 8, 8);
    padding: 8px;
    border-radius: 50px;
    color: white;
}*/






