
*{
    margin: 0;
    padding: 0;

}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;


}

body{
    background-color:$color-principal;
    height: 100vh;
}

img{
    max-width: 100%;

}

.logo{
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

p{
    font-size: $size-parrafo;

}

/*header*/
.navbar-brand{
    font-size: 1.8rem;
}




/*Editando la barra de navegacion*/
.navbar-nav{
    @include flex-column;
    align-items: start;
    gap: 1rem;

    .nav-item{
    
        a{
        font-size: 1.4rem;
    }
}
}
#navbarSupportedContent{
    ul{
        li{
            a:hover{
                @include hover-li;
            }
                
            
        }
    }
}

span{
    font-size: 20px;
}



.btn {
    @extend .boton;
        
    
}

.boton-inicio-padre{
    display: grid;
    place-content: center;
    
    
}
.boton-inicio{
    @extend .boton;
    

    
}





/*footer*/

.pie__redes{
    span{

        font-size: 20px;
        margin-left: 20px;
        
    }
}


.fb{
    background-color: rgb(40, 40, 181);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.in{
    background-color: rgba(255,0,179);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.yt{
    background-color: rgb(243, 8, 8);
    padding: 8px;
    border-radius: 50px;
    color: white;
}




