/*header*/
.navbar-brand{
    font-size: 1.8rem;
}

.nav-item{
    a{
        font-size: 1.4rem;
    }
}
/*Editando la barra de navegacion*/
.navbar-nav{
    @include flex-row;
    gap: 2rem   ;
}
#navbarSupportedContent{
    ul{
        li{
            a:hover{
                @include hover-li;
            }
                
            
        }
    }
}








/*editando index para varios dispositivos*/
/*query mobile*/
.caja-padre{
    @include flex-column;
    
}

@media (min-width: 1024px){
    .caja-padre{
        @include flex-row;
        
        
        
    }
}

.imagen-hijo{
    width: 40rem;
}

.caja-hijo{
    @include flex-column;
    gap: 2rem;
    /*Editando h1 de inicio*/
    .titulo-inicio{
        font-family: system-ui;
        font-size: $letra-grande;
        color: transparent;
        font-weight: 600;
        letter-spacing: -0.015em;
        background-image: linear-gradient(
            180deg,
            $color-secundario,
            $color-terciario
        );
        background-clip: text;
        -webkit-background-clip: text;
    }
}

.caja-hijo__titulo{
    font-size: $size-titulos;
}

.caja-hijo__parrafo{
    font-size:$size-parrafo;
}

.caja-botones{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}

.boton{
    
    width:8rem ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    box-sizing: content-box;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    text-decoration: none;
        &:hover{
        background-color:#fff;
        border: 2px solid  #000;
        color: #000;
    }
}



/*carrusel*/

#carouselExampleAutoplaying{
    width: 60rem;
    max-width: 100%;
    /*background-color: lightslategray;
    border: solid 3px $borde-carousel;
    border-radius: 25px;*/

    img{
        border-radius: 40%;
    }
 
}


/*seccion 1*/

#seccion1{
    p{
        font-size: $size-parrafo;
    }
}


/* banners*/

.main-banner{
    @include flex-column;
}

.contenedor-banner{
    @include flex-column;
    gap: 20px;
}

.banner-uno,
.banner-dos,
.banner-tres{
    @include flex-column;
    i{
        font-size:5rem;
    }
}
    
    











